{% extends 'base/base.html' %}
{% load static %}
{% block description %}Página com todos os vídeos gratuitos de Python{% endblock description %}
{% block title %}Python Pro - Aperitivos{% endblock title %}
{% block body %}
<div class="row">
    <div class="col">
        <div class="container rounded mt-4 mb-3">
            <h1 class="h1">Vídeos Aperitivos</h1>
            <ol>
            {% for video in videos %}
                <li><a href="{{ video.get_absolute_url }}">{{ video.titulo | default:'Faltando título' }}</a></li>
            {% empty %}
                <p>Nenhum video encontrado</p>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock body %}