{% extends 'base/base.html' %}
{% load static %}
{% block description %}Página com lista de turmas{% endblock description %}
{% block title %}Turmas{% endblock title %}
{% block body %}
<div class="row">
    <div class="col">
        <div class="container rounded mt-4 mb-3">
            <h1 class="h1">Turmas</h1>
            <ol class="list-group">
                {% for turma in turmas %}
                <li class="list-group-item"><a href="{{ turma.get_absolute_url }}">{{ turma.nome }}</a></li>
                <!-- <dl>
                    <dt>Público</dt>
                    <dd>{{ modulo.publico }}</dd>
                    <dt>Descrição</dt>
                    <dd>{{ modulo.descricao }}</dd>
                    <dt>Aulas</dt>
                    <dd>
                        <ol>
                            {% for aula in modulo.aulas %}
                            <li><a href="{{ aula.get_absolute_url }}">{{ aula.titulo }}</a></li>
                            {% empty %}
                            <li class="list-group-item list-group-item-warning">Nenhuma aula cadastrada</li>
                            {% endfor %}
                        </ol>
                    </dd>
                </dl> -->
                <hr />
                {% empty %}
                <li class="list-group-item list-group-item-warning">Nenhum módulo cadastrado</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock body %}